* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f0f0f0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

main {
  padding: 5% 10%;
}

h1 {
  margin-bottom: 1rem;
}

.animated-box {
  padding: 1rem;
  border: #000 solid 1px;
  margin-bottom: 1rem;
}
